* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-attachment: fixed;
    background-size: 100vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    color: ivory;
}
.header {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
a {
    text-shadow: none;
}
h4, h2 {
    text-shadow: 1px 1px 4px black;
    color: ivory;
}

#instructions {
    background-color: rgba(0,0,0,.25);
    padding: 10px;
    margin: 10px 10%;
}

p {
    margin: 10px;
}

button {
    border-radius: 10px;
    margin: 2%;
    background-color: #FBBB2D;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}


/* ----------------------------------------------------------- */

.gameboard {
    height: 650px;
    width: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.25);
    border-radius: 5px;
    /* perspective: 1000px; */
}

.card {
    width: calc(20%);
    height: calc(20%);
    margin: 15px;
    position: relative;
    /* transition: transform .5s; */
    /* transform-style: preserve-3d; */
    transform: scale(1);
}
.card.flip {
    /* transform: rotateY(180deg); */
}
.card.flip .back {
    visibility: hidden;
    /* transform: rotateY(180deg); */
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.front, .back {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    backface-visibility: hidden;
    background-color: rgba(0,0,0,.25);
    border-radius: 5px;
}
.front {
    backface-visibility: visible;
    /* transform: rotateY(180deg); */
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */


table {
    text-align: center;
    width: 40%;
    background-color: rgba(0,0,0,.25);
    padding: 20px;
    margin: 5% auto;
    border-radius: 5px;
}
tr {
    padding: 10px;
}
table img {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.25);
}
.footer {
    bottom: 10px;
    position: relative;
}
img {
    box-shadow: 2px 2px 4px black;
}